body{background: #f8f8f8;}
h1{color:black; }

za{
    color:black;
    font-size: 18px;
    font-weight: 400;
    background: #eaeaea;
}
ot{
    color:#707070;
    font-size: 14px;
    font-style:italic;
    line-height: 16px;
}
pot{
    color:#484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}
li{
    color:#1a1a1a;
    font-size: 16px;
    line-height: 18px;
    font-weight: 800;
}
input[type="name"], input[type="email"], input[type="phonenumber"],textarea
{
    background: #ffffff;
    font-size: 18px;
    color: #202020;
    font-style:italic;
    width: 300px;
    height: 18px;
}
textarea
{
    width: 450px;
    height: 150px;
}
input[type="submit"]
{
    background: rgb(255, 212, 72);
}