html 
{
    position: relative;
    min-height: 100%;
}
body
{
    background: #f8f8f8;
    margin-bottom: 80px;
}
h1
{
    color:black; 
}
za
{
    color:black;
    font-size: 18px;
    font-weight: 400;
    background: #eaeaea;
}
ot
{
    color:#707070;
    font-size: 14px;
    font-style:italic;
    line-height: 16px;
}
pot
{
    color:#484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}
li
{
    color:#1a1a1a;
    font-size: 16px;
    line-height: 18px;
    font-weight: 800;
}
input[type="name"], input[type="email"], input[type="phonenumber"],textarea
{
    background: #ffffff;
    font-size: 18px;
    color: #202020;
    font-style:italic;
    width: 300px;
    height: 18px;
    text-transform: capitalize; 
}
input[type="email"]:valid
{
    background: blanchedalmond;
    color: #d80a0a;
}
textarea
{
    width: 450px;
    height: 150px;
    text-transform: none;
}
input[type="submit"]
{
    background: rgb(255, 212, 72);
}
a
{
    color: #afafaf;
    font-size: 22px;
    font-style: oblique;
}
.menu li 
{
	list-style-type: none;
}
.kontakt a
{
    color: black;
    font-style: normal;
}
a:hover {color: #202020;}
table
{
    border:1px solid #000;
    border-collapse: collapse;
    width: 700px;
    height: 100px;
}
td
{
    border: 1px solid #000
}
.footer
{
    height: 80px;
    background:#ffffff;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.menu
{
    display: block;  
    float: right;  
    margin-right: 2%;
}
.footer .text
{
    display: block;
    float: right;
    margin-right: 20px;
    margin-top: 5px;
}
.button 
{
    font-size: 25px;
    color: white;
    text-decoration: none;
    padding: 5px 15px;
    border-radius: 5px;
    background: rgb(64, 66, 199);

} 
.button:hover 
{ 
    background: rgb(78, 53, 167); 
}
.button:active 
{
    background: rgb(54, 33, 147);
}
.krop
{
    position:absolute;
    left: 30%;
}
.photo
{
    max-width: 50%;
    height: auto;
}
.goods
{
    display:grid;
}
.item1
{
    grid-area: first;
}
.item2
{
    grid-area: second;
}
.item3
{
    grid-area: third;
}
.katalog
{
    display: grid;
    grid-template-areas:
    'first second third' ;
}

